# Ignore Terraform state and provider files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform/.terraform/providers/**

# Ignore Ansible virtual environment folder
ansible-venv/

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
*.whl
Pipfile.lock
pyvenv.cfg

# Ignore other IDE or OS-specific files
.vscode/
.DS_Store

# Ignore any logs or temporary files
*.log
*.tmp
